<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <title>WHEN | {{data.title}}</title>
    <link rel="stylesheet" type="text/css" href="/javascripts/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <script type="text/javascript" src="/javascripts/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/moment/moment.min.js"></script>
    <script type="text/javascript" src="/javascripts/handlebars/handlebars.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/javascripts/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/javascripts/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/javascripts/font-awesome/css/font-awesome.min.css" />
    <script type="text/javascript" src="/javascripts/app.js"></script>
</head>
<body>
{{{body}}}
<img id="background" src="http://img30.360buyimg.com/popWaterMark/jfs/t2371/252/444019340/26712/e0bc1cd1/560b4c8cN44ce3fb4.jpg" />
<div id="background-mask"></div>
</body>
</html>