<div class="container" style="opacity: 0.95;">
    <header></header>
    <div class="row">
        <div class="col-md-12">
            <form action="/product/test" method="POST" style="margin-bottom: 20px;">
                <div class="form-group">
                    <label for="content">Products JSON</label>
                    <textarea class="form-control" name="products" rows="20" placeholder="Content">{{data.json}}</textarea>
                    <p class="help-block">JSON</p>
                </div>
                <input type="submit" class="btn btn-warning" style="width: 100%;" value="Test" />
            </form>
        </div>
    </div>
    <footer></footer>
</div>