<script type="text/javascript" src="/javascripts/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/javascripts/crossfilter/crossfilter.min.js"></script>
<script type="text/javascript" src="/javascripts/d3/d3.min.js"></script>
<script type="text/javascript" src="/javascripts/highcharts/highcharts.js"></script>
<script type="text/javascript">
$(function(){
    var pid = '{{data.product.id}}';
	var option = {
        title: { text: '' },
        credits: { enabled: false },
        exporting: { enabled: false },
        legend: { enabled: false },
        tooltip: { enabled: false },
        colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#2b908f', '#f45b5b', '#91e8e1'],
        chart: {
			type: 'line',
            // width: width,
            // height: height,
			margin: [0, 0, 30, 0]
        },
        xAxis: {
            tickWidth: 0,
            startOnTick: true,
            endOnTick: true,
            lineColor: '#eee',
			type: 'datetime',
            labels: {
                padding: 0,
                rotation: 0,
                style: {
                    color: '#999',
                    fontWeight: 'normal',
                    textOverflow: 'none'
                }
            }
        },
        yAxis: {
            title: { text: '' },
			type: 'linear',
            gridLineWidth: 0,
			min: 0,
            plotLines: [],
			labels : { enabled: false }
        },
        plotOptions: {
            line: {
                enableMouseTracking: false,
                allowPointSelect: false,
                lineWidth: 1,
                marker: {
                    lineWidth: 0,
                    radius: 3
                }
            }
        }
    };
	
    if(pid){
	$.ajax({
		type: 'GET',
		url: '/product/{pid}/price'.replace(/{pid}/g, pid),
		dataType: 'json',
		success: function (data) {
			var dataset = crossfilter(data);
			var dimension = {}, 
				group = {};
			dimension.source = dataset.dimension(function(item) { return item.source; });
			group.source = dimension.source.group().reduce(function(results, item){
				results._values.push(item.usetime);
				results.min = Math.min(Math.min.apply(this, results._values));
				results.max = Math.max(Math.max.apply(this, results._values));
				results.sum = parseInt(results.sum + item.usetime);
				results.count = parseInt(results.count + 1);
				results.average = parseInt(results.sum / results.count);
				return results;
			}, function(results, item){
				results._values.splice(_.indexOf(results._values, item.usetime), 1);
				results.min = Math.min(Math.min.apply(this, results._values));
				results.max = Math.max(Math.max.apply(this, results._values));
				results.sum = parseInt(results.sum - item.usetime);
				results.count = parseInt(results.count - 1);
				results.average = parseInt(results.sum / results.count);
				return results;
			}, function(){
				return { min: 0, max: 0, sum: 0, count: 0, average: 0, _values: [] };
			});
			
			var sourceGroup = group.source.top(Infinity);
			option.xAxis.tickInterval = 24 * 60 * 60 * 1000;
            option.xAxis.labels.formatter = function () {
				return Highcharts.dateFormat('%a', new Date(this.value));
            };
			_.each(sourceGroup, function(item, index){
				option.yAxis.plotLines.push({
					color: '#ccc',
					value: item.value.max,
					label: {
						text: '{value}(MAX)'.replace(/{value}/g, item.key),
						style: { color: '#ccc' }
					},
					dashStyle: 'Dot',
					width: 1
				});
			});
			option.series = _.map(sourceGroup, function (group, index) {
				return {
					animation: true,
					name: group.key,
					color: option.colors[index],
					marker: { lineColor: option.colors[index] },
					// zIndex: source.datas.length - index,
					data: _.map(dimension.source.filter(group.key).top(Infinity),function(item, index){
						return [(new Date(item.datetime)).getTime(), item.usetime];
					})
				};
			});
			
			$('#chart').highcharts(option);
		}
	});
    }
});

</script>
<div class="container" style="opacity: 0.95;">
    <header></header>
    <div class="row">
        <div class="col-md-12">
            <div id="container" style="background-color: #fff;">
                <div class="row">
                    <div class="col-md-12">
                        {{{data.content}}}
                    </div>
                    {{#if data.jd}}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="property">
                                <div class="icon"><i class="fa fa-at"></i></div>
                                <div class="text">JD</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-cny"></i></div>
                                <div class="text">{{data.jd.price}}</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-calendar"></i></div>
                                <div class="text">{{format data.jd.datetime "MMMM DD"}}&nbsp;|{{format data.jd.datetime "dddd"}}</div>
                            </div>
                        </div>
                    </div>
                    {{/if}} {{#if data.tmall}}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="property">
                                <div class="icon"><i class="fa fa-at"></i></div>
                                <div class="text">TMALL</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-cny"></i></div>
                                <div class="text">{{data.tmall.price}}</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-calendar"></i></div>
                                <div class="text">{{format data.tmall.datetime "MMMM DD"}}&nbsp;|{{format data.tmall.datetime "dddd"}}</div>
                            </div>
                        </div>
                    </div>
                    {{/if}} {{#if data.amazon}}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="property">
                                <div class="icon"><i class="fa fa-at"></i></div>
                                <div class="text">AMAZON</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-cny"></i></div>
                                <div class="text">{{data.amazon.price}}</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-calendar"></i></div>
                                <div class="text">{{format data.amazon.datetime "MMMM DD"}}&nbsp;|{{format data.amazon.datetime "dddd"}}</div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    <div class="col-md-12">
                        <div class="chart">
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <h5>usetime:{{data.allusetime}}</h5>
    </footer>
</div>